<!-- <div style="width: 15%;">
  <pan-button
    [type]="'button'"
    [styleButton]="'primary'"
    [contrast]="'positive'"
    [size]="'large'"
    [label]="'Sim'"
  ></pan-button>
  <app-counter></app-counter>
</div> -->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-customers-view></app-customers-view>
<app-customer-add></app-customer-add>
<br>
<br>
<br>
<div style="background: black; color: white;">
    <pre [innerHtml]="exibition"></pre>
</div>

  





